@import url("https://fonts.googleapis.com/css?family=Kanit:100,200,300,400&subset=latin-ext,thai");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

// h1 {
//   font-size: 6rem;
//   font-weight: 400;
// }

// h2 {
//   font-size: 3rem;
//   font-weight: 300;
// }

// h3 {
//   font-size: 1.5rem;
//   font-weight: 200;
// }

// h4 {
//   font-size: 1rem;
//   font-weight: 200;
// }

// p {
//   font-size: 1rem;
//   font-weight: 200;
// }

a {
  color: rgba(255, 165, 10, 0.85);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
